html,
body {
  width: 100%;
  height: 100%;
}
* html {
  background-image: url(about:blank);
  background-attachment: fixed;
}
.lh40 {
  line-height: 40px;
}
.oye_ui {
  position: fixed;
  height: 40px;
  right: 40px;
  bottom: 0;
  padding: 6px 6px 0 90px;
  background: url(img/sprite.png) 0 0 no-repeat;
  border-right: 1px solid #d3d3d3;
  _position: absolute;
  _top: expression(document.documentElement.scrollTop + document.documentElement.offsetHeight - this.offsetHeight  + "px");
  z-index: 9999999999;
}
.oye_ui a {
  color: #3399ff;
}
.oye_ui .oye_cart {
  position: absolute;
  right: -1px;
  bottom: 43px;
  padding: 10px;
  background: #fff;
  border: 2px solid #CC3401;
  display: none;
  white-space: nowrap;
}
.oye_ui .oye_cart table {
  width: 550px;
}
.oye_ui .oye_cart caption {
  color: #CC3401;
  background-color: #F0F0F0;
  text-align: left;
  height: 24px;
  line-height: 24px;
}
.oye_ui .oye_cart img {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
.oye_ui .oye_cart input {
  width: 3em;
}
.oye_ui .oye_cart th,
.oye_ui .oye_cart td {
  border-bottom: 1px dashed #efefef;
  padding: 0 5px;
}
.oye_ui .oye_cart tbody th {
  width: 1%;
}
.oye_ui .oye_cart tbody td a {
  display: inline-block;
  width: 30em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.oye_ui .oye_cart tfoot td {
  text-align: right;
}
.oye_ui .oye_cart .oye_del {
  color: #3399ff;
  cursor: pointer;
}
.oye_ui .oye_panel {
  text-align: right;
  margin: 0 auto;
}
.oye_ui #oye_fetch {
  display: none;
}
.oye_ui button {
  font-size: 20px;
  padding: .2em;
}
.oye_icon {
  display: inline-block;
  vertical-align: top;
  overflow: visible;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  background: url(img/sprite.png) no-repeat;
  cursor: pointer;
}
.oye_icon span {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 12px;
  background: url(img/part.gif) 0 0 no-repeat;
  bottom: -5px;
  right: -11px;
  width: 22px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
}
.oye_icon_cart {
  background-position: 0 -60px;
}
.oye_icon_cart .oye_cart_part {
  display: none;
  position: absolute;
  top: -6px;
  left: 4px;
  width: 17px;
  height: 9px;
  background: url(img/part.gif) -40px 0 no-repeat;
}
.active .oye_cart_part {
  display: inline-block;
}
.oye_icon_img {
  background-position: -60px -60px;
}
.oye_icon_camera {
  background-position: -120px -60px;
}
#oye_add {
  background: url(img/sprite.png) 0 -120px no-repeat;
  width: 87px;
  height: 32px;
  border: none;
  cursor: pointer;
}
#oye_submit {
  background: url(img/sprite.png) -100px -120px no-repeat;
  width: 104px;
  height: 29px;
  border: none;
  cursor: pointer;
}
#oye_add:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.canFetched #oye_fetch {
  display: inline-block;
}
.st_popUp {
  height: 100%;
}
.st_popUp .oye_cover,
.st_popUp .oye_content {
  display: block;
}
.st_popUp .oye_controler {
  display: none;
}
#oye_logo {
  position: absolute;
  display: block;
  width: 80px;
  height: 100%;
  left: 0;
  top: 0;
}
#oye_notice {
  display: none;
  position: absolute;
  right: -1px;
  bottom: 100%;
  background-color: #FF9900;
  color: #fff;
  padding: 0 10px;
}
